.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .statistics {
    display: flex;
    gap: 20px;
  
    .stat {
        width: 200px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #f9f9f9;
      text-align: center;
  
      h2 {
        margin-bottom: 10px;
      }
  
      p {
        font-size: 1.5rem;
        color: #007bff;
      }
    }
  }
  